<div class="social-media js-social-media-links">
  <a href="{{ facebook_url }}" class="facebook" target="_blank" data-network="facebook">
    <i class="fab fa-3x fa-facebook"></i>
    <span class="social-media-count">{{ facebook_count }}</span>
  </a>
  <a href="{{ google_plus_url }}" class="google" target="_blank" data-network="google_plus">
    <i class="fab fa-3x fa-google-plus"></i>
    <span class="social-media-count">{{ google_count }}</span>
  </a>
  <a href="{{ twitter_url }}" class="twitter" target="_blank" data-network="twitter">
    <i class="fab fa-3x fa-twitter"></i>
    <span class="social-media-count">{{ twitter_count }}</span>
  </a>
  <a href="{{ linkedin_url }}" class="linkedin" target="_blank" data-network="linkedin">
    <i class="fab fa-3x fa-linkedin"></i>
    <span class="social-media-count">{{ linkedin_count }}</span>
  </a>
</div>
